.App {
  text-align: center;  
}
h1{
  font-size: 350%!important;
  padding: 10% 0 5% 0;

}
.popup{

}
.App-logo {
  width: 130%;
  pointer-events: none;
}

::selection {
  background: yellow;
} 

li { 
  list-style-type: "◯"; 
  text-align: left;
}
.centeredBox{
  margin: 0% 20% 5% 20%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 40s linear;
  }
}

.App-header {
  background-image: linear-gradient(#716ef9, white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: blue;
}
.productz .section1 {
  padding: 0 15vw;
}
.productz div {
  padding: 3px;
}
.preventCov {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.duringCov {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.healCov {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.productz div img {
  max-width: 25vw;
}

.App-link {
  color: #1a00ad;
}

button {
  border: none;
  background-color: white;
  padding: 5px 28px;
  font-size: 16px;
  border-color: #716ef9;
  color: #716ef9;
  border-radius: 25%;
}

button:hover {
  background: #2196F3;
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(400deg);
  }
}
